<ion-header>
    <sneaker-header appName="{{sneaker?.name  | slice:0:20}}" hideHomeMenu="true" hideProfileMenu="true"></sneaker-header>
  </ion-header>
  
  <ion-content>
      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button translucent="true"  (click)="doLike(sneaker?.$key)">
            <ion-icon *ngIf="!sneaker?.like" name="heart-empty"></ion-icon>
            <ion-icon *ngIf="sneaker?.like" name="heart"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      
    <ion-grid no-padding>
      <ion-row>
        <ion-col no-padding>
  
          <ion-row>
            <ion-col padding><ion-label><h2><b>{{sneaker?.name}}</b></h2></ion-label></ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding>
              <ion-img *ngIf="sneaker?.urlImage" [src]="sneaker?.urlImage"></ion-img></ion-col>
          </ion-row>
          <ion-row>
              <ion-col padding-horizontal>
                <ion-label class="sneaker-date" color="medium" float-left>{{sneaker?.date | date:'dd/MM/yyyy'}}</ion-label>
                <ion-label class="sneaker-price" color="medium" float-right>{{sneaker?.price | currency: 'EUR':'symbol':undefined:'es'}}</ion-label></ion-col>
            </ion-row>
          <ion-row>
            <ion-col padding text-justify><ion-label class="news-description">{{sneaker?.longDescription}}</ion-label></ion-col>
          </ion-row>
  
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
      <ion-item>
        <ion-label>{{sizeTitle}}</ion-label>
        <ion-select (ionChange)="canAdd($event)">
          <ion-select-option *ngFor="let size of sizes" value="{{size}}">{{size}}</ion-select-option>
        </ion-select>
      </ion-item>
    
    </ion-list>
  
    <ion-button class="sneaker-add" disabled="{{disableBtn}}" color="dark" padding expand="full">{{ addToCart }}</ion-button>
  </ion-content>
  