ion-fab {
    top: 0;
    right: 0;
    z-index: 5;
  }
  
  ion-fab-button {
    --height: 30px;
    --width: 30px;
    --color: var(--ion-color-danger);
    --color-activated: var(--ion-color-danger);
    --color-focused: var(--ion-color-danger);
    --box-shadow: transparent;
    --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --border-color: transparent;
    --ripple-color: transparent;
  }

  .sneaker-price {
    font-weight: bold;
    margin-right: 5%;
    font-size: 16px;
  }

  .sneaker-votes {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
  }

  .sneaker-date {
    font-weight: bold;
    font-size: 16px;
  }

/*   .sneaker-size {
    max-width: 100px;
  } */