<ion-header>
  <sneaker-header></sneaker-header>
</ion-header>
  
<side-menu></side-menu>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col><ion-label>Titulo</ion-label></ion-col>
    </ion-row>
    <ion-row>
        <ion-col><ion-label>fecha</ion-label></ion-col>
      </ion-row>
      <ion-row>
          <ion-col><ion-label>foto</ion-label></ion-col>
        </ion-row>
        <ion-row>
            <ion-col><ion-label>texto</ion-label></ion-col>
          </ion-row>
          <ion-row>
              <ion-col><ion-label>ller mas</ion-label></ion-col>
            </ion-row>
  </ion-grid>
</ion-content>
