ion-img {
  width: 100vw;
}

ion-slide {
  height: 200px;
}

.swiper-pagination-bullet-active {
  background: var(--bullet-background-active);
}

.custom-bullets {
  --bullet-background: #fff;
  --bullet-background-active: white;
}