<ion-header>
  <sneaker-header hideHomeMenu="true" hideProfileMenu="true"></sneaker-header>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <ion-list>
    <ion-list-header>
      <ion-label>{{favourite}}</ion-label>
    </ion-list-header>
    <div >
      <ion-item *ngFor="let sneakerUser of sspu" href="/main/tabs/(home:sneaker/{{sneakerUser?.$key}})" routerDirection="forward" >
        <ion-thumbnail slot="start">
          <img *ngIf="sneakerUser?.sneaker?.urlImage" [src]="sneakerUser?.sneaker?.urlImage" />
        </ion-thumbnail>
        <ion-grid fixed="true">
        <ion-label class="sneaker-title">{{sneakerUser?.sneaker?.name}}</ion-label>
        <ion-label float-left>{{sneakerUser.likedDate  | date:'dd/MM/yyyy' }}</ion-label>
        <ion-label float-right>{{sneakerUser?.sneaker?.price | currency: 'EUR':'symbol':undefined:'es'}}</ion-label>
      </ion-grid>
      </ion-item>
    </div>
  </ion-list>
</ion-content>