<ion-header>
  <sneaker-modal-header modalTitle="{{modalTitle}}"></sneaker-modal-header>
  <ion-toolbar color="primary" text-center class="sneaker-searchbar">
    <ion-searchbar [(ngModel)]="searchTerm" text-start color="light" placeholder="{{modalTitle}}" (ionChange)="search()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  
  <ion-list>
    <ion-list-header color="primary">
      <ion-label>{{searchByName}}</ion-label>
    </ion-list-header>
    <ion-item href="/main/tabs/(home:sneaker/{{sneaker?.$key}})" routerDirection="forward" color="primary" *ngFor="let sneaker of searched" (click)="doCancel()">
      <ion-thumbnail slot="start">
        <img [src]="sneaker?.urlImage" />
      </ion-thumbnail>
      <ion-label>{{sneaker?.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>