ion-list-header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

ion-list {
  margin: 0;
}

p.sneaker-subtitle {
  margin: 0;
}

p.sneaker-title {
  text-transform: none;
  color: gray;
}

p.sneaker-shipping {
  font-size: 12px;
  color: gray;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
}