<ion-header>
    <sneaker-header></sneaker-header>
  </ion-header>


  <ion-content padding>
    <form [formGroup]="form" autocomplete="off" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="floating">{{ email }}</ion-label>
          <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
        
            <div class="field-error-message" *ngIf="isErrorVisible('email','required')">
              El email és obligatori.
            </div>
            <div class="field-error-message" *ngIf="isErrorVisible('email','email')">
              Email no vàlid.
            </div>
            

        <ion-item>
          <ion-label position="floating">{{ password }}</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <div class="field-error-message" *ngIf="isErrorVisible('password','required')">
          El password és obligatori.
        </div>
        <div class="field-error-message" *ngIf="isErrorVisible('password','minlength')">
          El password amb longitud mínima de 6.
        </div>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button float-right size="small" color="dark" fill="clear" href="/forget-password" routerDirection="forward">{{ forgetPassword }}</ion-button>
          <ion-button  expand="full" color="primary" block (click)="login()">{{ signIn }}</ion-button>
        </ion-col>
      </ion-row>
    </form>
      <ion-row>
          <ion-col text-center style="position: absolute; bottom: 0px; left: 0px;">
            <ion-button color="dark" fill="clear" href="/new-user" routerDirection="forward">{{ createAccount }}</ion-button>
          </ion-col>
      </ion-row>
    </ion-content>
    