<ion-header>
  <sneaker-modal-header modalTitle="{{modalTitle}}"></sneaker-modal-header>
</ion-header>
<ion-content color="primary">
  <div padding text-center><h1>{{ whichEmail }}</h1></div>
  
  <form padding [formGroup]="form">
      <ion-list>

        <ion-input formControlName="date" type="hidden"></ion-input>
        <ion-item color="primary" lines="none">
          <ion-input text-center placeholder="{{sampleEmail}}" formControlName="email" type="email"></ion-input>
        </ion-item>
        <div class="field-error-message" *ngIf="isErrorVisible('email','required')">
          El email és obligatori.
        </div>
        <div class="field-error-message" *ngIf="isErrorVisible('email','email')">
          Email no vàlid.
        </div>
      </ion-list>
    </form>
    <div padding text-center>{{ subscriptionsOffers }}</div>
    <ion-button color="light" padding expand="full" (click)="save(form)">{{ subscription }}</ion-button>
</ion-content>