<ion-header>
  <sneaker-header hideHomeMenu="true" hideProfileMenu="true"></sneaker-header>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>{{history}}</ion-label>
    </ion-list-header>
    <ion-item lines="none" *ngIf="!orders || orders.length === 0">
        <ion-label>{{ noValues }}</ion-label>
    </ion-item>

    <ion-item *ngFor="let order of orders" lines="full">
      
    </ion-item>
  </ion-list>
</ion-content>