<ion-menu>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title text-center>{{ menuTitle }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

        <ion-list>
           
          <ion-item button tappable *ngFor="let p of pages;  let i=index" (click)="openPage(p, i);">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>{{p.title}}</ion-label>
          </ion-item>
         
        </ion-list>

      </ion-content>

      <ion-footer>
        <ion-toolbar>
          <ion-title tappable (click)="logout()" text-center>{{ disconnect }}</ion-title>
        </ion-toolbar>
      </ion-footer>

  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>