<ion-toolbar color="primary" text-center>
  <ion-buttons slot="start">
    <ion-back-button text="{{back}}"></ion-back-button>
  </ion-buttons>
  <ion-title padding="false">
    {{ appName }}
  </ion-title>
  <ion-buttons *ngIf="isLoggedIn() && !hideHomeMenu" slot="end">
    <ion-button (click)="navigateToSearch()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
    <!-- <ion-button (click)="navigateToCart()">
      <ion-icon class="sneaker-icon-cart" slot="icon-only" name="cart">
      </ion-icon>
      <ion-badge color="dark">3</ion-badge>
    </ion-button> -->
    <ion-button  (click)="navigateToFilter()">
        <ion-icon name="options" slot="icon-only"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-buttons *ngIf="isLoggedIn() && !hideProfileMenu" slot="end">
      <ion-button href="/main/tabs/(profile:user)" routerDirection="forward">
        <ion-icon slot="icon-only" name="brush"></ion-icon>
      </ion-button>
      <ion-button (click)="delete()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
</ion-toolbar>