<ion-toolbar color="primary" text-center>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
    <ion-menu-toggle *ngIf="isLoggedIn()">
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
  </ion-buttons>
  <ion-title padding="false">
    {{ appName }}
  </ion-title>
  <ion-buttons *ngIf="isLoggedIn()" slot="end">
    <ion-button (click)="navigateToSearch()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
    <ion-button (click)="navigateToCart()">
      <ion-icon class="sneaker-icon-cart" slot="icon-only" name="cart">
      </ion-icon>
      <ion-badge color="dark">3</ion-badge>
    </ion-button>
  </ion-buttons>
</ion-toolbar>