<ion-header>
    <sneaker-header hideHomeMenu="true" hideProfileMenu="true"></sneaker-header>
  </ion-header>
  
  <ion-content>
    <ion-list lines="none">
      <ion-list-header color="dark">
        <ion-grid fixed="true">
          <ion-row><ion-col>
            <p class="sneaker-quantity">3 artícles</p>
          </ion-col></ion-row>
        <ion-row><ion-col text-end>
          <p class="sneaker-total">TOTAL: 450 eur</p>
        </ion-col></ion-row>
      </ion-grid>
      </ion-list-header>
 
    </ion-list>

    <ion-button clear (click)="increment()">
        <ion-icon name="add-circle" ></ion-icon>
      </ion-button>
      {{quantity}}
      <ion-button clear (click)="decrement()">
        <ion-icon name="remove-circle" ></ion-icon>
      </ion-button>

    <ion-button color="dark" padding expand="full">{{ pay }}</ion-button>
  </ion-content>