.sneaker-quantity {
  margin-bottom: 1%;
  text-transform: lowercase;
  font-size: 16px;
}

.sneaker-total {
  margin-top: 1%;
  margin-right: 10%;
  font-size: 18px;
  font-weight: bold;
}

ion-list {
  padding: 0;
}

.sneaker-delete {
  font-size: 32px;
}

.sneaker-quantity {
  display: inline;
  vertical-align: -webkit-baseline-middle;
}

.sneaker-data {
  font-size: 14px;
}

.sneaker-btn-quantity {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  --box-shadow: transparent;
  --background: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
  --border-color: transparent;
  --ripple-color: transparent;
  --color-focused: transparent;
  --color-activated: transparent;
}