.sneaker-quantity {
  margin-bottom: 1%;
  text-transform: none;
  font-size: 16px;
}

.sneaker-total {
  margin-top: 1%;
  margin-right: 10%;
  font-size: 18px;
  font-weight: bold;
}

ion-button {
  position: absolute; 
  bottom: 0; 
  width: 100%;
}