<ion-header>
  <sneaker-header hideHomeMenu="true" hideProfileMenu="true"></sneaker-header>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-grid fixed="true">
      <ion-row><ion-col>
        <p class="sneaker-subtitle">{{orderSummary}}</p>
      </ion-col></ion-row>
    </ion-grid>
    </ion-list-header>
  </ion-list>

  <ion-grid fixed="true">
    <ion-row>
      <ion-label class="sneaker-history" float-left>{{orderId}}: </ion-label>
      <ion-label class="sneaker-history" float-right>{{order?.$key}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-label *ngIf="order?.status == statusOrder.Confirmed" class="sneaker-history">{{status}}: {{confirmed}}</ion-label>
      <ion-label *ngIf="order?.status == statusOrder.InProgress" class="sneaker-history">{{status}}: {{inProgress}}</ion-label>
      <ion-label *ngIf="order?.status == statusOrder.Delivered" class="sneaker-history">{{status}}: {{delivered}}</ion-label>
      <ion-label *ngIf="order?.status == statusOrder.Finished" class="sneaker-history">{{status}}: {{finished}}</ion-label>
    </ion-row>
    <ion-row>
        <ion-label class="sneaker-history" float-right text-end>{{date}}: {{order?.date | date:'dd/MM/yyyy'}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-label *ngIf="order?.paymentMethod == paymentOrder.Card" class="sneaker-history">{{method}}: {{card}}</ion-label>
      <ion-label *ngIf="order?.paymentMethod == paymentOrder.Paypal" class="sneaker-history">{{method}}: {{paypal}}</ion-label>
      </ion-row>
  </ion-grid>
  
  <div class="sneaker-summary">
    <ion-list lines="none">
      <ion-item *ngFor="let sneaker of sneakers" lines="full">
        <ion-thumbnail slot="start">
          <img *ngIf="sneaker?.sneaker?.urlImage" [src]="sneaker?.sneaker?.urlImage" />
        </ion-thumbnail>
        <ion-grid fixed="true">
          <ion-label class="sneaker-title">{{sneaker?.sneaker?.name}}</ion-label>
          <ion-label class="sneaker-data" float-left>{{sizeTitle}}: {{sneaker?.sizes}}</ion-label>
          <ion-label class="sneaker-data-articles">{{sneaker?.quantity}} {{articles}}</ion-label>
          <ion-label class="sneaker-data" float-right>{{sneaker?.sneaker?.price * sneaker?.quantity | currency: 'EUR':'symbol':undefined:'es'}}</ion-label>
          <rating *ngIf="order?.status == statusOrder.Finished && order?.rated == false" [itemId]='sneaker?.$key' (ratingClick)='ratingComponentClick($event)'></rating>
        </ion-grid>
       </ion-item>
      <ion-item lines="none">
          <ion-label class="sneaker-shipping" float-left>{{shippingCost}}</ion-label>
          <ion-label class="sneaker-shipping" text-end float-right>{{order?.shipping | currency: 'EUR':'symbol':undefined:'es'}}</ion-label>
      </ion-item>
    </ion-list>
    <p class="sneaker-total" text-center>TOTAL: {{order?.total + order?.shipping | currency: 'EUR':'symbol':undefined:'es'}}</p>
  </div>
  <p *ngIf="order?.status == statusOrder.Finished && order?.rated == true" text-center>Ja valorat</p>
  <ion-button *ngIf="order?.status == statusOrder.Finished && order?.rated == false" (click)="doRate()" color="dark" padding expand="full">{{ rate }}</ion-button>
</ion-content>