// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


//Android
.md ion-button {
  text-transform: none;
}

//iOS
.ios ion-button {
  text-transform: none;
}

//Windows
.wp ion-button {
  text-transform: none;
}

.field-error-message {
  text-align: right;
  padding-right: 68px;
  font-size: 12px;
  color: #a10000;
}