<ion-header>
    <sneaker-header hideHomeMenu="true" hideProfileMenu="true"></sneaker-header>
</ion-header>

<ion-content>
    <form [formGroup]="form">
    <ion-item>
        <ion-label position="floating">{{ email }}</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <div class="field-error-message" *ngIf="isErrorVisible('email','required')">
        El email és obligatori.
      </div>
      <div class="field-error-message" *ngIf="isErrorVisible('email','email')">
        Email no vàlid.
      </div>
    </form>
    <ion-row>
      <ion-col>
    <ion-button color="primary" expand="full" (click)="resetPassword()">{{ passwordReset }}</ion-button>
      </ion-col>
      </ion-row>
  </ion-content>
